
:root {
    --bgcolor: #5e12d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* margin-top: 70px; Adjust this value to match the height of the header */
}

.page-header-nav {
    background-color: var(--bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50px;
    /* Default top position */
    width: 100%;
    z-index: 100;
    transition: top 0.3s;
    /* Smooth transition */
}

.page-header-nav.sticky {
    top: 0;
    /* Top position when scrolled */
}

.logo {
    color: white;
    align-self: center;
    margin-left: 3rem;
    font-size: 2.5rem;
}

.nav-bar a {
    color: white;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-size: 20px;
    font-family: "Noto Kufi Arabic", sans-serif;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.9rem;
}

.centered-text {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #5e12d8;
    height: 60px;
    padding-top: 20px;
    font-size: 10px;
    font-family: "Noto Kufi Arabic", sans-serif;
    word-spacing: 5px
}

@media screen and (max-width: 700px) {
    .centered-text {
        height: 40px;
        padding-top: 5px;
        font-weight: lighter;
        font-size: 8px;
    }

    .nav-bar {
        display: none;
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 100%;
        background-color: var(--bgcolor);
        text-align: center;
    }

    .nav-bar.responsive {
        display: block;
    }

    .nav-bar a {
        display: block;
    }

    .menu-icon {
        display: block;
        z-index: 1;
    }

    button {
        padding: 0.4rem;
    }

    .logo {
        font-size: 1.4rem;
    }

    .page-header-nav {
        top: 42px;
        /* Default top position */

    }
}
