
:root {
    --bgcolor: #FFF9ED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* margin-top: 70px; Adjust this value to match the height of the header */
}

.page-header-nav {
    background-color: var(--bgcolor);
    padding: 1.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 100px;
    /* Default top position */
    width: 100%;
    z-index: 100;
    transition: top 0.3s;
    /* Smooth transition */
}

.page-header-nav.sticky {
    top: 0;
    /* Top position when scrolled */
}

.logo {
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.logo a img {
     width:180px;
}

.nav-bar {
    width: 30%;
    /* border: 1px solid green; */
}

.header-search {
    width: 30%;
    border: 1px solid black;
}

.nav-bar a {
    color: #3398E3;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: "Noto Kufi Arabic", sans-serif;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}



.centered-text {
    text-align: center;

    color: #ffffff;
    background-color: #3398E3;
    height: 70px;
    /* padding: 20px; */
    font-family: "Noto Kufi Arabic", sans-serif;
    word-spacing: 5px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.centered-text h3 {
    font-weight: light;
    font-size: 14px;
}

.header-actions-btn {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.header-actions-btn svg,
.header-actions-btn img {
    width: 35px;
    height: 35px;
}

.searchbar {
    position :fixed;
    z-index:20;
      background-color : #3398E3;
      width:100%;
      height : 60px;
      margin-top:138px;
      display:none;
      align-items:center;
      justify-content : center;
      padding:2px;
      
     
}
.searchbar input{
      background-color : white;
      width:60%;
      height : 90%;
      direction:rtl;
      font-family: "Noto Kufi Arabic", sans-serif;
      padding-right:10px;
      border:none;
      outline:none;
}

@media screen and (max-width: 1000px) {
    .searchbar {
      background-color : #3398E3;
      width:100%;
      height : 60px;
      margin-top:60px;
      display:none;
      align-items:center;
      justify-content : center;
      
     
}
.searchbar input{
      background-color : white;
      width:90%;
      height : 90%;
      direction:rtl;
      font-family: "Noto Kufi Arabic", sans-serif;
      padding-left:10px;
      border:none;
      outline:none;
}
    .centered-text {
        height: 50px;
        padding-top: 5px;
        margin-top: 0px;

    }

    .centered-text h3 {
        font-weight: light;
        font-size: 12px;
    }

    .nav-bar {
        display: none;
        position: absolute;
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: var(--bgcolor);
        text-align: end;
        height:200px; 


    }

    .responsive-nav {
        display: flex;
        flex-direction:column;  
       
        
    }
    .nav-bar a {
    padding: 1rem;
   

}

    .nav-bar .divmenu {
        display: block;
    }

    .menu-icon {
        display: block;
        z-index: 1;
    }




    .logo a img {
        width:100px;
   }
   
    .page-header-nav {
        top: 50px;
        padding: 0.4rem;

        /* Default top position */
    }

    .header-actions-btn img {
        width: 20px;
        height: 20px;
    }

    .header-actions-btn {}

    .divmenu {
        width: 30%;
        justify-content: end;
        display: flex;
        /* align-items: flex-start; */
         align-items: center; 
        height: 0px;
    }

    .divmenu .menu-icon {
        /* height: 20px; */
        
    }

    .divmenu .menu-icon img {
        height: 20px;
        width: 25px;
    }
}
